.report
  text-align: center
  .span4
    border: 1px solid #eef
    border-radius: 5px
    margin:10px 10px 0 0
    padding:10px
  .chart-holder
    display: inline-block;
    position: relative;
    width: 50%;
    .spacer
      padding-top: 100%;
    .chart
      position: absolute;
      top: 0;
      bottom: 0;
      left: 0;
      right: 0;
    .legend
      display: none;
  h4
    display: inline
  i
    font-size: 17.5px