<div class="navbar">
  <div class="navbar-inner">
    <div class="container-fluid">
      <a class="brand" href="/">Synapp.io</a>
      <div class="nav-no-collapse header-nav">
      	<ul class="nav btn-group pull-right">
      		<li class="btn"><a href="http://synapp.io">About</a></li>
      		<li class="btn"><a href="login"><i class="icon-user"></i> Log in</a></li>
      	</ul>
      </div>
    </div>
  </div>
</div>