<div class="row-fluid">
  <h1>Welcome to Synapp.io</h1>
  <p>We analyze your email lists and make them better. Try it now by uploading a list of emails below.
     We'll send you an email when your analysis is ready.</p>
  <form class="form-horizontal">
    <div class="control-group">
      <label class="control-label" for="address_list">Address List</label>
      <div class="controls">
        <input type="file" id="address_list" name="address_list">
      </div>
    </div>
    <div class="control-group">
      <label class="control-label" for="email">Your Email Address</label>
      <div class="controls">
        <input type="email" id="email" name="email">
      </div>
    </div>
    <div class="control-group">
      <div class="controls">
        <button type="submit" class="btn btn-primary">Upload</button>
      </div>
    </div>
  </form>
</div>