<div class="modal hide fade">
  <div class="modal-header">
    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
    <h3>Purchase {{title}} Report</h3>
  </div>
  <div class="modal-body">
    <p>{{description}}</p>
    <form class="form-horizontal">
      <div class="control-group">
        <label class="control-label" for="ccNumber">Credit Card #</label>
        <div class="controls">
          <input type="text" id="ccNumber">
        </div>
      </div>
      <div class="control-group">
        <label class="control-label" for="cvv">CVV</label>
        <div class="controls">
          <input type="text" id="cvv">
        </div>
      </div>
      <div class="control-group">
        <label class="control-label" for="expiration">Expiration</label>
        <div class="controls">
          <input type="text" id="expiration">
        </div>
      </div>
      <div class="control-group">
        <div class="controls">
          <label class="checkbox">
            <input name="store" type="checkbox"> Store my information for easy checkout later
          </label>
        </div>
      </div>
    </form>
  </div>
  <div class="modal-footer">
    <a href="#" class="purchase-close btn">Close</a>
    <a href="#" class="purchase-now btn btn-primary">Buy Now</a>
  </div>
</div>